@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,100&display=swap');
*
{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}
body
{
    display: flex;
    justify-content:center ;
    align-items: center;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(e.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container
{
    position: relative;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}
.container .card{
    position: relative;
    max-width: 240px;
    height: 250px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.container .hbd{
    margin-bottom: 20px;
}
.container .hbd h1,h4{
    align-items: center;
    text-align: center;
    color: #fff;
}
.container .card:hover{
    height: 450px;
}
.container .card .imgBx{
    position: relative;
    width: 200px;
    height: 260px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.container .card .imgBx img{
    max-width: 100%;
    border: 4px;
}
.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color :#111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -25px;
    transition: delay 0.3s ;
}
.btn{
    margin-top: 10px;
    border: 1px solid #3498db;
    background: none;
    padding: 10px 20px;
    font-size: 10px;
    cursor: pointer;
    transition: 0.8;
}